html {
    scroll-behavior: smooth;
}

.parallax {
    /* The image used */
    background-image: url("../assists/img/head.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#navbar {
    background-color: #333;
    /* Black background color */
    position: fixed;
    /* Make it stick/fixed */
    top: 0;
    /* Stay on top */
    width: 100%;
    /* Full width */
    transition: top 0.3s;
    /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */

#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}


h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 35px;
}

#profile_pic{
background-image: url("../assists/img/profile.jpg");
justify-content: center;
width: 250px;
height: 250px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
border: solid 2px #333;
}

#profile_text{
    margin-top: 15px;
    margin-left: 15%; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#stats{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 18px;
}

/* Flashing */
#profile_pic:hover {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

.project-img img{
  height: 250px;
  width: 250px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
 

.img-text {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-438%, 6024%);
  /* -ms-transform: translate(-590%, -50%); */
  text-align: center;
}

.projects:hover img {
  opacity: 0.3;
}

.projects:hover .img-text {
  opacity: 1;
}

.hover-text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}



.image {
  opacity: 1;
  display: block;
  width: 250px;
  height: 250px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

